<!--main.html-->
<article class="four wide column">
  <div ng-show="authenticated">
   <div class="ui segment stacked blue">
  <h3 class="ui header">
     <img src="{{getUserAvatar(user_avatar)}}" class="ui image tiny floated left">
     {{current_user}}
     <div class="sub header">{{user_display}}</div>
  </h3>
  <br>
  <br>
  <br>
  <br>
   <div class="ui mini statistic floated">
     <div class="label">
       Tweets
     </div>
     <div class="value">
       1
     </div>

   </div>
     <div class="ui mini statistic floated">

       <div class="label">
        Following
       </div>
       <div class="value">
        {{following}}
       </div>
     </div>
     <div class="ui mini statistic floated">

       <div class="label">
        Followers
       </div>
       <div class="value">
        {{followers}}
       </div>
     </div>
</div>


  <form class="ui form fluid segment stacked blue" ng-Submit="post()">
    <div class="required field">
      <div class="ui icon input">
        <h4>{{current_user}} says </h4>
      </div>
    </div>
    <div class="field">
                <div class="ui icon input">
        <input required type="text" placeholder="Whats on your mind?" ng-model="newPost.text" />
        <i class="chat icon"></i>
      </div>
    </div>
    <input class="ui button blue" type="submit" value="Send" id="send" />
  </form>
  <div class="ui inverted red button" ng-show='authenticated' ng-click="deleteUser(current_user)">Delete Account</div>
  </div>
</article>

<div class="eight wide column">
  <article>

  </article>
  
  <article id="post-stream">
    <h3 class="ui blue header"><i class="ui chat icon"></i>Chat Feed</h3>
      <div class="ui divider"></div>
      <div class="ui feed" ng-repeat="post in posts | filter:search | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <div class="event">
          <div class="label">
            <a href ng-click="getUserAvatar(post.created_by)"><img src="images/finn.png" class="ui avatar circular image"></a>
          </div>
          <div class="content" ng-if="selected.Post !== post">
            <div class="summary">
              <a class="user">
                {{post.created_by}}
              </a> {{post.text}}
              <div class="date">
                {{post.created_at | date:"h:mma 'on' MMM d, y"}}
              </div>
            </div>
            <div class="meta">
              <a class="like" ng-click="addLike(post)">
                <i class="like icon"></i> {{post.likes}}
              </a>
              <a ng-click="followUser(current_user, post)" ng-if="current_user !== post.created_by">
                <i class="user icon"></i> Follow {{post.created_by}}
              </a>
            </div>
          </div>
          <div class="content" ng-if="selected.Post == post">
            <div class="summary">
              <a class="user">
                {{selected.Post.created_by}}
              </a>
              <input type="text" ng-model="selected.Post.text" />
              <div class="date">
                {{selected.Post.created_at | date:"h:mma 'on' MMM d, y"}}
              </div>
            </div>
            <div class="meta">
              <a class="like">
                <i class="like icon"></i> {{post.likes}}
              </a>
            </div>
          </div>
        </div>
        <div class="event" ng-if="current_user == post.created_by">
          <div class="summary">
            <div class="ui primary button" ng-if="selected.Post !== post" ng-click="edit(post)">
              Edit
            </div>
            <div class="ui green button" ng-if="selected.Post == post" ng-click="save(selected.Post)">
              Save
            </div>
            <div class="ui red button" ng-click="delete(post)">
              Delete
            </div>
          </div>
        </div>
      </div>
  </article>
</div>

<article class="four wide column">
  <div class="item">
    <div class="ui icon input">
      <input type="text" placeholder="Find a message" ng-model="search">
      <i class="search link icon"></i>
    </div>
  </div>
</article>