body {
	width: 100%;
    height: 100%;
    padding: 20px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #00B7FF;
}

.odd {
	background-color: #f2f9ff;

}
.even {
	background-color: #eceff3;
}

section {
	padding: 20px 0 !important;
	max-width: 1200px;
	margin: 0 auto !important;
}

#profile {
	padding: 0;
	margin: 0;
}

#imgWrapper {
	position: relative;
}

#profile img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
	top: -20px;
}

#profile #banner {
	position: relative;
	width: 100%;
	
}

.selectedBorder {
	border: solid blue;
}

#livesearch{
	border: 1px solid #000;
	background-color: #fff;
}