<article ng-controller="postsController as postCtrl" id="post-stream">
    <h3 class="ui blue header"><i class="ui chat icon"></i>Chat Feed</h3>
      <div class="ui divider"></div>
      <div class="ui feed" ng-repeat="post in posts | filter:search | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <div class="event">
          <div class="label">
            <a href ng-click="getUserAvatar(post.created_by)"><img src="images/finn.png" class="ui avatar circular image"></a>
          </div>
          <div class="content" ng-if="selected.Post !== post">
            <div class="summary">
              <a class="user">
                {{post.created_by}}
              </a> {{post.text}}
              <div class="date">
                {{post.created_at | date:"h:mma 'on' MMM d, y"}}
              </div>
            </div>
            <div class="meta">
              <a class="like" ng-click="addLike(post)">
                <i class="like icon"></i> {{post.likes}}
              </a>
              <a ng-click="followUser(current_user, post)" ng-if="current_user !== post.created_by">
                <i class="user icon"></i> Follow {{post.created_by}}
              </a>
            </div>
          </div>
          <div class="content" ng-if="selected.Post == post">
            <div class="summary">
              <a class="user">
                {{selected.Post.created_by}}
              </a>
              <input type="text" ng-model="selected.Post.text" />
              <div class="date">
                {{selected.Post.created_at | date:"h:mma 'on' MMM d, y"}}
              </div>
            </div>
            <div class="meta">
              <a class="like">
                <i class="like icon"></i> {{post.likes}}
              </a>
            </div>
          </div>
        </div>
        <div class="event" ng-if="current_user == post.created_by">
          <div class="summary">
            <div class="ui primary button" ng-if="selected.Post !== post" ng-click="edit(post)">
              Edit
            </div>
            <div class="ui green button" ng-if="selected.Post == post" ng-click="save(selected.Post)">
              Save
            </div>
            <div class="ui red button" ng-click="delete(post)">
              Delete
            </div>
          </div>
        </div>
      </div>
  </article>